.App {
  font-family: sans-serif;
  text-align: center;
}

.bordecaja {
  border: 2px solid blue;
  padding-bottom: 8px;
}

.Bienvenido {
  border: solid 2px blueviolet;
}

.Amigos {
  border: 3px solid lightblue;
}

.NyA {
  border: 2px solid red;
}

.Aprendiendo {
  border: 2px solid yellowgreen;
  padding-bottom: 10px;
}

.grefg {
  border: 2px solid navy;
  padding-bottom: 10px;
}
